<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{$title}{if $pluginTitle} - {$pluginTitle}{/if}</title>
    {if $pluginCSS}<link href="{$site_url}/plugins/{$pluginCSS}" rel="stylesheet" type="text/css" />{/if}
    <link href="{$site_url}/templates/{$theme}/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{$site_url}/includes/javascript/number-functions.js"></script>
    <script type="text/javascript" src="{$site_url}/includes/javascript/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{$site_url}/includes/javascript/parseuri.js"></script>
  </head>

  <body>

    <div id="header-full">
      <div id="header">
        <div style="float: left;">
            <img src="{$site_url}/templates/{$theme}/images/bee.png"/>
        </div>
          <div style="float: left;">
            <h1 style="margin-left: 10px">beelog</h1>
        </div>
      </div>
    </div>

    <div id="container">

      <div id="navigation">
        {foreach item=block from=$sideBlocks}
        {include file="sideblock_left.html" title=$block.title content=$block.content}
        {/foreach}
      </div>

      <div id="main">
        {$content}
        <div style="clear: both"><!-- pull stuff down --></div>
      </div>

    </div>

    <div id="footer-wrapper">
      <div id="footer" align="right"><a href="http://code.google.com/p/beelog/">beelog</a></div>
    </div>
  </body>

</html>
